<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"/>
  
<h1 class="title">Find pictures!</h1>
<form class="search-form" id="search-form">
  <input
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
    class="input-form"
      />
      <button type="submit" class="btn js-form-btn">Show me pictures!</button>
    </form>

    <div class="box">
      <div class="container">
        <ul class="gallery">
          <!-- Список <li> с карточками изображений -->
        </ul>
        <button type="button" class="btn js-load-btn is-hidden" id="box">Load more</button>
      </div>
    </div>